<!doctype HTML>
<nav class="nav">
  <b>user variable here</b>
  <span class="logButton">
    <button class="action">STATUS</button>
  </span>
</nav>

<div class="welcome">
  <h4> DESCRIPTION DEPENDING ON LOGIN STATUS</h4>
  <hr>
  <p class="textExplanation">We know you're a busy person with little time to track all the cool suggestions being thrown at you! Worry not, a solution has been devised!  Simply type in a word or two below, and be amazed as the Smart To-Do app categorizes your words into the correct list!</p>
</div>
