<!doctype HTML>
<span class=headerSpan>
  <nav class="nav">
    <% if(user) { %>
      Welcome back <b><%=user%></b> :)
      <form action="/logout" method="POST">
        <button type="submit" >Logout</span>
        </form>
      </nav>
    
      <%} else {%>
      
      <div class="jumbotron" align="center">
        <h1>Smart To-Do</h1>
        <h3 id="introText">Quick! <a href="/register" style="color: rgb(0, 255, 115);"> register</a> before you forget what you wanted to jot down! We'll take care of sorting it.</p></h3>
      </div>
    </div>
    
    <%}%>
    