<!doctype HTML>
<head>
    <title>Home Page</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <style>
    body{
      font-family: 'Dosis', sans-serif;
    }</style>
  </head>
<nav class="nav">
  <b>user variable here</b>
  <span class="logButton">
    <button class="action">STATUS</button>
  </span>
</nav>

<div class="welcome">
  <h2> DESCRIPTION DEPENDING ON LOGIN STATUS</h2>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque facere perspiciatis fuga dolor, officiis ratione fugit veniam excepturi fugiat? Dicta ipsum perferendis veritatis. Esse minima deserunt vitae. Beatae, obcaecati?</p>
</div>

