<!doctype HTML>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width = device-width, initial-scale = 1">
  <title>Smart Note</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  <style>
    a {
      text-decoration: none;
    }
   
  </style>
</head>
<!-- LATEST COMMIT MAY 9t. THIS MSg coNfirMs you Have aCCESS tO appending -->
<span class=headerSpan>
  <nav class="nav" style="margin-bottom: 20px;">
    <% if(user) { %>
      Welcome back <span style="color: rgb(255, 187, 0); font-size: 18px; font-weight: bolder"<b><%=user%></b> :)
      <form action="/logout" method="POST" style="float: right;">
        <button type="submit">Logout</span>
        </form>
      </nav>
      <%} else {%>
        <div class="jumbotron" align="center">
            <span class="smartnote"> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAD5SURBVGhD7ZSxDUJBDMX+EgzAcKzEPOzEAMCTrFQu0gRdEUuuXuE0d9eyLMuZ3B6vj8l8PnZ8ZC7uz/fnH5LrY8dH5sJiE5LrY8dH5sJiE5LrY8dH5sJiE5LrY8dH5mVZTscecGQ+Hzs+Mhf25U1Iro8dH5kLi01Iro8dH5kLi01Iro8dH5kLi01Iro8dH5mXZTkde8CR+Xzs+Mhc2Jc3Ibk+dnxkLiw2Ibk+dnxkLiw2Ibk+dnxkLiw2Ibk+dnxkXpbldOwBR+bzseMjc2Ff3oTk+tjxkbmw2ITk+tjxkbmw2ITk+tjxkbmw2ITk+tjxkXlZlmX5cV1fdDuS/HJSJzQAAAAASUVORK5CYII="> 
              Smart Note</span>
          <h3 id="introText">Quick! <a id="link" href="/register"> register</a> before you forget what you wanted to jot down! We'll take care of sorting it.</p></h3>
        </div>
      </div>
      
      <%}%>
      