<!doctype HTML>
<nav class="nav">
  <b>user variable here</b>
  <span class="logButton">
    <button class="action">STATUS</button>
  </span>
</nav>

<div class="welcome">
  <p> DESCRIPTION DEPENDING ON LOGIN STATUS</p>
  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur cumque facere perspiciatis fuga dolor, officiis ratione fugit veniam excepturi fugiat? Dicta ipsum perferendis veritatis. Esse minima deserunt vitae. Beatae, obcaecati?</p>
</div>

