 <!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <% include partials/_header %>




<div class="container">
<div class="well" align="center">
<h2>Log in to access your <b>Smart To-Do</b> lists! </h2>
<h2><a href="/register" class = "btn btn-default btn-lg" role="button">Login/Register</a></h2>
</div>
</div>

</body>
</html>
