
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <style>
    a {
      text-decoration: none;
    }
  </style>
</head>
<body>
  <% if (user) {%>
    
    <% include partials/_header %>
    <div class="jumbotron" align="center">
      <h1 style="font-family: 'Great Vibes', cursive;">Smart Note</h1>
      <h3 id="introText">You're already logged in. Go ahead and <a href="/smart" style="color: rgb(0, 255, 115);"> update</a> your TODOs before you forget what you wanted to jot down!.</p></h3>
    </div>
  </div>
  <%} else {%>
    <div class="jumbotron" align="center">
      <h1 style="font-family: 'Great Vibes', cursive;">Smart Note</h1>
      <p id="introText">Quick! <a href="/register" style="color: rgb(0, 255, 115);"> register</a> before you forget what you wanted to jot down! We'll take care of sorting it.</p>
    </div>
  </div>
  <%}%>
  
</body>
</html>
