<!DOCTYPE html>

<html lang="en">

<head>
<meta charset="UTF-8">

<meta name="viewport" content="width = device-width, initial-scale = 1">
<title>Smart To-Do</title>

<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <script type="text/javascript" src="/scripts/app.js"></script>

</head>

<body>

  <div class="container-fluid">

    <div class="jumbotron" align="center">
      <h1>Smart To-Do</h1>
      <h3 id="introText">Quick! Type in the cool thing/place before you forget! We'll take care of sorting it</h3>

      <form class="submitTodo" method="POST" action="/smart">

        <input class="search" name="search" autofocus>

        <br>
        <br>

        <a href="#" class = "btn btn-default btn-lg" role="button">Sort for me, machine!</a>
      </form>

    </div>

    </div>

<div class="container-fluid">

<div class="well">
<h3>Type what you want to <strong>WATCH, EAT, BUY</strong> or <strong>READ</strong> above, and be amazed as the Smart To-Do app categorizes your words into the correct list!</h3>
</div>

<br>


<div class="jumbotron" align="center">
<div class="container-fluid">
  <div class="row">

    <div class="box1">
    <div class="col-sm-3">
      <img src="../Images/Watch.jpeg" class="img-rounded" id="watchHover">
      <div class="watchDisplay"><font size="6">To Watch</font></div>
    </div>
    </div>

    <div class="col-sm-3">
      <img src="../Images/food1.jpeg" class="img-rounded">
      <div class="foodDisplay">To Eat</div>

    </div>


    <div class="col-sm-3">
      <img src="../Images/Products.jpeg" class="img-rounded">
      <div class="merchDisplay">To Buy</div>

    </div>


    <div class="col-sm-3">
      <img src="../Images/books.jpeg" class="img-rounded">
      <div class="bookDisplay">To Read</div>

    </div>

  </div>
</div>

<div id="box1">
<p id="text1">
<a href="url">DESTINATION</a>
</p>
</div>


</body>

</html>
