<!DOCTYPE html>
<html lang="en">
<head>
  <title>Smart Registration</title>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
    <% include partials/_header %>
  <div class="inputTodo">
    <form  method="POST" action="/smart">
      What are we doing? <br>
      <input type="text-area" class="search" name="search">
      <input type="submit" value="GO">
    </form>
  </div>

  <div class="categories">
  <div class="watchDisplay">Latest <b>cinematic</b> entries</div>
  <div class="foodDisplay">Latest <b>restauration</b> entries</div>
  <div class="merchDisplay">Latest <b>merchandise</b> entries</div>
  <div class="bookDisplay">Latest <b>readings</b> entries</div>
</div>


</body>
</html>
