@import 'usersHome';
@import 'register';



body {
  background-image: url("Body_Background.jpeg");
  width: 100%;


  h1 {
    color: #244751;
  }
}
.welcome{
  width: 40%;
  margin: auto;
  text-align: center;
}
.inputTodo {
  text-align: center;
  height: 40%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.logButton{
  float: right;
}

.search {
  width: 50%;
  margin: auto;
}
.categories {
  width: 100%;
  display: inline-flex;
  background-color: #2b3e58;
  color: #292c2f;
  padding: 2%;
}

.categories .watchDisplay{
  width: 20%;
  height: 80%;
  background-color: white;
  margin: 10px;
}

.categories .foodDisplay{
  width: 20%;
  height: 80%;
  background-color: white;
  margin: 10px;
}

.categories .merchDisplay{
  width: 20%;
  height: 80%;
  background-color: white;
  margin: 10px;
}

.categories .bookDisplay{
  width: 20%;
  height: 80%;
  background-color: white;
  margin: 10px;
}
